/Java/NetBeansProjects/Fundamentos/nbproject/private/
/Java/NetBeansProjects/Fundamentos/build/
/Java/NetBeansProjects/Fundamentos/dist/
/Java/NetBeansProjects/Applet/nbproject/private/
/Java/NetBeansProjects/Applet/build/
/Java/NetBeansProjects/Hilos/nbproject/private/
/Java/NetBeansProjects/Hilos/build/