/* General */

.greenButton {
    background-color: #2A5B45;
}

.green {
    color: #2A5B45;
}

.white{
    color: white;
}

.alignDiv {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}
/* --------------------------------------- */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
    padding: 12px 40px;
    gap: 2%;
    width: auto;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}

nav * {
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    color: white;
}

nav div {
    display: inline-block;
    text-align: center;
    padding-top: 0.5%;
}

nav .carr {
    margin-top: 20%;
    width: auto;
    height: 70%;
}

nav span {
    font-size: large;
}

/* --------------------------------------- */

.s1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 48px 40px;
    gap: 8px;

    width: auto;
    height: 486px;

    background: rgba(227, 222, 215, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.s1 .centered {
    padding-top: 5%;
}

/* --------------------------------------- */

.s2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 147px;
    gap: 24px;

    width: auto;
    height: 420px;

    /* background: rgba(227, 222, 215, 0.3) */
    background: rgba(227, 222, 215, 0.3) url(Images_coffeeShop/vasodecafe.png) center center;
    background-size: inherit 380px;
    background-repeat: no-repeat;
}

.s2 .caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    text-align: center;
    size: 996px 232px;
    padding-top: 25px;
}

.s2 .caja h4 {
    color: white;
    text-size-adjust: bold;
}

.s2 .caja>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.s2 .cajita {
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}


/* --------------------------------------- */


.s3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
    margin-bottom: 30px;

    width: auto;
    height: 603.39px;
}

.s3 .caja {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.s3 .caja>div {
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.s3 .bott {
    padding-bottom: 20px;
}


.s3 a {
    /* text-decoration: none; */
    color: black;
}

/* .top a:hover {
    text-decoration: underline;
    color: black;
}

.top a:visited {
    text-decoration: none;
    color: black;
}

.top a:active {
    color: black;
} */

/* --------------------------------------- */

.s4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 386px;
    gap: 24px;
    text-align: center;

    width: auto;
    height: 804px;

    background: #2A5B45;
}

.s4 div>div {
    background-color: white;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
    padding-left: 1,5em;
    padding-right: 1,5em;
}

.s4 a{
    color: white;
}


.s4 div>div>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-between;
    margin: 0%;

    /* margin: 10em; */
}

/* --------------------------------------- */

.s5 a {
    color: black;
}

.s5{
width: auto;
height: 480px;

/* Off white */
background: #F7F5F3;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
}

.s5>div{
    display: flex;
    flex-direction: row;
}

.s5 .cuadrado{
    display: flex;
    flex-direction: column;
    align-items: left; 
    border-radius: 1em;
    margin: 1em;
    margin-top: 10em;
    margin-left: 5em;
    padding: 1em;
    padding-left: 1,5em;
    padding-right: 1,5em;

}

.s5 .cuadrado>div{
    display: flex;
    flex-direction: row;
}

.s5 .imgG{
    width:688px;
    height:420px;
    border-radius: 2em;
    margin: 1em;
    margin-left: 10em;
    padding: 1em;
    padding-left: 1,5em;
    padding-right: 1,5em;
}

/* --------------------------------------- */

.s6{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
color: #6B7280;

width: auto;
height: 652px;

/* Taupe */
background: #E3DED7;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
}

.s6 h4{
    color: black;
}

.s6 .d1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
margin-right: 5em;
margin-left: 2em;
}

.s6 a{
    color: black;
}

.s6 .d2{
    width: 888px;
    height: 652px;
    background-color: white;
    color: black;
    margin: 1em;
    padding: 32px 32px 32px 48px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.s6 input{
    height: 10%;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 15px; 
    border: 1px solid #D1D5DB;
}


 .s6 .grande{
    height: 30%;
} 

.s6 textarea::placeholder {
                 
    /* Firefox, Chrome, Opera */
    text-align: start;
}

.s6 .pequeno{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.s6 .buttonBig{

    margin-top: 10px;
    height: 12%;
    width: 20%;
}

/* --------------------------------------- */

.s7{
/* s7 */
width: auto;
height: 410px;

/* Black */
background: #1F1815;

display: flex;
justify-content: space-between;
color: white;

padding-left: 3%;
}

.s7 >div{
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: left;
margin-top: 2%;
}

.s7 .margin{
    margin-top: 5%;  
    margin-right: 20%;
    flex-direction: row;
    width: 700px;
}

.s7 .espacio {
    width: 30%;
}


.s7 >div *{
    margin-top: 10px;
    font-size: larger;
}

.s7 span{
    /* padding-top: 5px; */
    font-size: 18px;
}

.s7 .h4{
    font-size: x-large;
}

.s7 .top{
    padding-bottom: 16px;
}

.s7 .left{
    padding-right: 10px;
    padding-bottom: 5px;
}

.s7 button{
    padding: 10px;
    margin: 10px;
    margin-left: 0;
}

/* --------------------------------------- */

footer{
width: auto;
height: 60px;

/* Dark grey */
background: #2B2A2B;
color: white;

display: flex;
justify-content: center;
}

footer>div{
    padding-top: 15px;
    font-size: 18px;
}